.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    color: #F25A70;
    text-shadow: 5px 5px #000;
    padding-bottom: 25px;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align: center;
}