.progress-bar {
    box-sizing: border-box;
    border: 3px solid #000;
    height: 30px;
}

.progress-bar::-webkit-progress-value {
    background-color: #62C370;
}

.progress-bar::-webkit-progress-bar {
    background-color: #FFF;
}